*
{
    padding: 0;
    margin: 0;
}
nav
{
    padding: 1vh;
    display: flex;
    place-content: center;
    place-items: center;
}
nav .text
{
    padding: 1vh;
    display: flex;
    width: 85vw;
    place-content: end;
    place-items: end;
}
nav .text .mentor
{
    padding: 1vw ;
    color: black;
}
nav .text .button
{
    padding: 1vw;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
    transition: 0.3s;
}
a 
{
    text-decoration: none;
    font-size: larger;
}
nav .text .button:hover
{
    background-color: rgb(0, 28, 207);
    border: 2px solid rgb(0, 28, 207);
    color: white;
}
nav .text .mentor:hover
{
    color: rgb(0, 28, 207) ;
}
.header
{
    display: grid;
    place-content: center;
    place-items: center;
    padding-top: 20vh;
}
.header .h1 
{
    font-size: 4vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header .h2 
{
    font-size: 2vw;
    font-family:serif;
    padding: 3vh;
}
.main_content
{
    display: grid;
    place-content: center;
    place-items: center;
    margin-top: 5vw;
    background-color: rgb(83, 3, 163);
    padding: 10vh;
}
.content 
{
    font-size: 2vw;
    color: aliceblue;
}
.content2
{
    text-align: center;
    font-size: 1.5vw;
    width: 70vw;
    padding: 3vh;
    color: aliceblue;
}
.main_content2
{
    display: flex;
    place-items: center;
    place-content: center;
    margin: 1vh;
}
.main_content2 .content_1
{
    display: grid;
    text-align: center;
    width: 40vw;
    background-color: rgb(83, 3, 163);;
}
.main_content2 .content_1 .content3 
{
    font-size: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}